.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 5px;
  border: 1px solid #ddd;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(72, 177, 72);
  border-radius: 6px;
  color:#ddd;
  width: 121px;
  height: 37px;
  border: white;
  font-family: system-ui;
}

button a {
  text-decoration: none;
  color: white;
}


